{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "importOrder": ["^react((?!\\.css).)*$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "(.*).css", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
